# -----------------------
# Terraform
# -----------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.tfvars
crash.log
crash.*.log
*.tfplan

# -----------------------
# Ansible
# -----------------------
inventory.ini

