# TYPE  DATABASE        USER            ADDRESS                 METHOD
local   all             postgres                                trust
host    all             cytech_usr      192.168.100.123/24      md5
local   all             cytech_usr                              md5
